.inventry {
    background-color: white;
    padding: 10px 10px;
    margin-top: 10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px ;
    color: #0e122c;
}

.circle-graph {
    margin-top: 1px;
    background-color: white;
}